@model Equipe
@{
    ViewData["Title"] = "Equipes";
}
<div class="banner_cadastro">
    <h1>Cadastro de @ViewData["Title"]</h1>
</div>
<form class="form_cadastro" method="POST" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">
    <div class="campo">
        <label for="IdEquipe">ID</label>
        <input type="text" name="IdEquipe" required />
    </div>
    <div class="campo">
        <label for="Nome">Nome</label>
        <input type="text" name="Nome" id="Nome" required />
    </div>
    <div class="campo">
        <label for="Imagem">Imagem</label>
        <input type="file" name="Imagem" id="Imagem" required />
    </div>
    
    <button class="gradient btn cadastro" type="submit">Cadastrar</button>   
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Ações</th>
    </thead>
    <tbody>
        @foreach (Equipe item in ViewBag.Equipes)
        {
            <tr>
                <td>@item.IdEquipe</td>
                <td>@item.Nome</td>
                <td>
                    <img src="img/Equipes/@item.Imagem" alt="Imagem da Equipe @item.Nome"/>
                </td>
                <td>
                    <a asp-controller="Equipe" asp-action="Excluir" asp-route-id="@item.IdEquipe"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>