@model Noticias
@{
    ViewData["Title"] = "Noticias";
}
<div class="banner_cadastro">
    <h1>Cadastro de @ViewData["Title"]</h1>
</div>
<form class="form_cadastro" method="POST" action="@Url.Action("CadastrarNoticia")" enctype="multipart/form-data">
    <div class="campo">
        <label for="IdNoticia">Id da Notícia</label>
        <input type="text" name="IdNoticia" required />
    </div>

    <div class="campo">
        <label for="Titulo">Titulo da Notícia</label>
        <input type="text" name="Titulo" required />
    </div>

    <div class="campo">
        <label for="Texto">Texto da Notícia</label>
        <textarea name = "Texto" id = "Texto" 
        rows = "6" cols = "40" 
        data-val-required = "O campo Descrição é obrigatório." 
        data-val-maxlength-max = "5000" 
        data-val-maxlength = "O campo Descrição deve ser um tipo de cadeia ou matriz com um comprimento máximo de '5000'." 
        data-val = "true"> </textarea>
    </div>

    <div class="campo">
        <label for="ImagemNoticia">Imagem</label>
        <input type="file" name="ImagemNoticia" id="ImagemNoticia" required />
    </div>
    
    <button class="gradient btn cadastro" type="submit">Cadastrar</button>   
</form>

<div class="tb">
<table>
    <thead>
        <th>Id</th>
        <th>Título</th>
        <th>Texto</th>
        <th>Imagem</th>
        <th>Ações</th>
    </thead>
    <tbody>
        @foreach (Noticias item in ViewBag.Noticias)
        {
            <tr>
                <td>@item.IdNoticia</td>
                <td>@item.Titulo</td>
                <td>@item.Texto</td>
                <td>
                    <img src="img/Noticias/@item.Imagem" alt="Imagem da Notícia @item.Titulo"/>
                </td>
                <td>
                    <a asp-controller="Noticias" asp-action="ExcluirNoticia" asp-route-id="@item.IdNoticia"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table> 
</div>